<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/register" method="post">
  <input type="text" placeholder="Username" name="username">
  <input type="text" placeholder="Password" name="password">
  <input type="text" placeholder="Email" name="email">
  <input type="text" placeholder="Fullname" name="fullname">
  <input type="text" placeholder="Age" name="age">
  <input type="text" placeholder="isPublic" name="isPublic">
  <button type="submit">Register</button>
</form>
</body>
</html>