<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/home">Home</a>
<a>&nbsp;&nbsp;&nbsp;</a>
<a href="/personalPage">Trang cá nhân</a>
<a>&nbsp;&nbsp;&nbsp;</a>
<a href="/post">Đăng bài</a>
<a>&nbsp;&nbsp;&nbsp;</a>
<a href="/friends">Bạn bè</a>
<a>&nbsp;&nbsp;&nbsp;</a>
<a href="/friendrequests">Lời mời kết bạn</a>

<table border="1">
    <tr>
        <td>STT</td>
        <td>Người đăng</td>
        <td>Nội dung</td>
        <td>Ngày đăng</td>
        <td>Trạng thái</td>
    </tr>
    <tbody>
    {posts}
    </tbody>

</table>
</body>
</html>